@import "tailwindcss";

@theme {
  --color-navratri-red: #FF0000;
  --color-navratri-orange: #FF6500;
  --color-navratri-yellow: #FFD700;
  --color-navratri-green: #008000;
  --color-navratri-blue: #0000FF;
  --color-navratri-indigo: #4B0082;
  --color-navratri-violet: #8B00FF;
  --color-navratri-pink: #FF69B4;
  --color-navratri-white: #FFFFFF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}